<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/imagen/unab.png.png" width="40" height="50" class="d-inline-block align-top" alt="">
  </a>
</nav>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" onclick="location.href='http://localhost:4200/clients/#ancla2';">Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  onclick="location.href='http://localhost:4200/clients/form/#ancla';">Gestor de Notas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
    
    <div class="img"></div>
    <div class="center">
      <div class="title">Bienvenido!</div>
      <div class="sub_title">Esta es una plataforma para que puedas ingresar y simular tus notas del semestre </div>
        <div class="btns" >
      </div>
    </div> 
  </body>